@import "./abstracts/variables";
@import "./abstracts/mixins";

@import "./bases/base";

@import "./components/button";
@import "./layout/header";
@import "./layout/layout";
@import "./layout/navigation";
@import "./layout/home";
@import "./layout/about";
@import "./layout/skills";
@import "./layout/qualification";
@import "./layout/_services";
