.contact {
    &__container {
        row-gap: 3rem;
    }

    &__information {
        display: flex;
        margin-bottom: var(--mb-2);
    }

    &__icon {
        font-size: 2rem;
        color: var(--first-color);
        margin-right: var(--mb-0-75);
    }

    &__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
    }

    &__subtitle {
        font-size: var(--small-font-size);
        color: var(--text-color-light);
    }

    &__content {
        background-color: var(--input-color);
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        padding: 0.75rem 1rem 0.25rem;
    }

    &__label {
        font-size: var(--small-font-size);
        color: var(--title-color);
    }

    &__input {
        width: 100%;
        outline: none;
        border: none;
        background-color: var(--input-color);
        color: var(--text-color);
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        padding: 0.25rem 0.5rem 0.5rem 0;
    }
}
