.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo,
    &__toggle {
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    &__toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    &__toggle:hover,
    &__logo:hover {
        color: var(--first-color);
    }

    &__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--small-font-size);
        color: var(--title-color);
        font-weight: var(--font-medium);

        &:hover {
            color: var(--first-color);
        }
    }

    &__icon {
        font-size: 1.2rem;
    }

    &__close {
        position: absolute;
        right: 1.3rem;
        bottom: 0.5rem;
        font-size: 1.8rem;
        cursor: pointer;
        color: var(--first-color);

        &:hover {
            color: var(--first-color-alt);
        }
    }

    @include responsive(767, 1) {
        &__menu {
            position: fixed;
            width: 100%;
            bottom: -100%;
            left: 0;
            background-color: var(--body-color);
            padding: 2rem 1.5rem 4rem;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            border-radius: 1.5rem 1.5rem 0 0;
            -webkit-border-radius: 1.5rem 1.5rem 0 0;
            -moz-border-radius: 1.5rem 1.5rem 0 0;
            -ms-border-radius: 1.5rem 1.5rem 0 0;
            -o-border-radius: 1.5rem 1.5rem 0 0;
            transition: 0.3s;
            -webkit-transition: 0.3s;
            -moz-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
        }
    }
}

.nav-show {
    bottom: 0;
}

.active-link {
    color: var(--first-color);
}

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}
