.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-weight: var(--font-medium);

    &:hover {
        background-color: var(--first-color-alt);
    }

    &__icon {
        font-size: 1.25rem;
        margin-left: var(--mb-0-5);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    &--flex {
        display: inline-flex;
        align-items: center;
    }

    &--small {
        padding: 0.75rem 1rem;
    }

    &--link {
        padding: 0;
        background-color: transparent;
        color: var(--first-color);

        &:hover {
            background-color: transparent;
            color: var(--first-color-alt);
        }
    }
}
